html {
  background: url(./../IMG-20210607-WA0008.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

}
img{
float: right;
}
img{
  width: 50%;
}
IMG_20210102_223122_546{
  float: left;
}
h1{
  color: black:
}
